# Database Configuration
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=2005
DB_NAME=tech5br

# Backend Configuration
JWT_SECRET=SegredoSuperSecreto
BACKEND_PORT=3000

# Frontend Configuration
FRONTEND_PORT=4173

# Nginx Configuration
NGINX_PORT=80 