# Database Configuration
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=mydatabase

# Backend Configuration
JWT_SECRET=supersecret
BACKEND_PORT=3000

# Frontend Configuration
FRONTEND_PORT=4173

# Nginx Configuration
NGINX_PORT=80 